.explanations-content
{
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
    @include desktop-only
    {
        width: 70%;
    }
        &__heading
        {
            padding-top: 20px;
            @include desktop-only
            {
                font-size: 32px;
                display: flex;
                justify-content: center;
            }
            
        }
        &__list
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            @include tablet-only
            {
                width: 50%;
            }
            @include desktop-only
            {
                flex-direction: row;
                width: 100%;
            }
        }
        &__list-line
        {
            display: flex;
            align-items: center;
            margin: 0 auto 0 14px;
            padding: 5px 0 5px 0;
            width: 100%;
            border-radius: 15px;
            background-color: #f6f6f6;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
        &__list-line--eyecatch
        {
            background-color: lighten($primary-colour,35%);
        }
        &__list-nbr
        {
            background-color: $primary-colour;
            height: 15px;
            width: 15px;
            padding: 5px;
            margin-right: 10px;
            text-align: center;
            border-radius: 50px;
            color: white;
            font-size: 14px;
            position: relative;
            left: -13px;
        }
        &__list-content
        {
            font-weight: bold;
        }
}
.fa-mobile-screen-button, .fa-list-ul, .fa-store
{
    color: grey;
    width: 10%;
}
.fa-store
{
    color: $primary-colour;
}
