.menus-preview-img
{
    position: relative;
    z-index: -1;
    margin-bottom: -50px;
    width: 100%;
    @include tablet-only
    {
        height: 300px;
        object-fit: cover;
    }
    @include desktop-only
    {
        margin-bottom: 0;
        height: 500px;
    }
}
.menus
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #f6f6f6;
    @include desktop-only
    {
        border-radius: 0;
    }
        &__heading
        {
            position: relative;
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            @include desktop-only
            {
                width: 80%;
            }
                & h1
                {
                    font-family: 'Shrikhand';
                    font-weight: 100;
                    font-size: 28px;
                    margin-bottom: 0;
                    @include desktop-only
                    {
                        font-size: 32px;
                    }
                }
                & .like-btn
                {
                    line-height: 0;
                    right: 15px;
                    bottom: 10px;
                    font-size: 30px;
                    @include tablet-only
                    {
                        right: 20px;
                    }
                }
        }
        &__entries-container
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include desktop-only
            {
                flex-direction: row;
                width: 80%;
                gap: 20px;
            }
        }
        &__submit-cart-btn
        {
            padding: 15px 60px 15px 60px;
            margin: 50px 0;
        }
}
.menus__entries
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: auto;
    @include desktop-only
    {
        margin: 0;
    }
        & h2
        {
            margin: 20px 0 5px 0;
            padding-bottom: 5px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            position: relative;
        }
        & h2::after
        {
            content: "";
            background-color: $tertiary-colour;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 40px;
        }
        &-line
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            padding-left: 10px;
            cursor: pointer;
            overflow: hidden;
            opacity: 0;
            animation: delayed-render 1s ease-in forwards;
        }
        &-heading
        {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1;
        }
        &-heading h3
        {
            margin: 0 0 5px 0;
            font-size: 18px;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-heading p
        {
            margin: 0;
            font-weight: 300;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-price
        {
            align-self: flex-end;
            text-align: center;
            font-weight: bold;
            line-height: 70%;
            width: 50px;
            margin: 0 10px;
        }
        &-btn-container
        {
            background-color: $tertiary-colour;
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: center;
            width: 70px;
            margin-right: -70px;
            transform: translatex(100%);
            transition: transform 0.5s ease-in 0.5s, margin 0.5s ease-in; 
                & button
                {
                    border: none;
                    align-self: center;
                }
                & .fa-circle-check
                {
                    font-size: 24px;
                    cursor: pointer;
                    line-height: 0;
                }
                & .circle-check-filled
                {
                    color: #fff;
                }
                & .circle-check-outline
                {
                    color: $tertiary-colour;
                }
        }
        &-line:hover > &-btn-container
        {
            transition: transform 0.5s, margin 0.5s ease-in;
            margin: 0;
            transform: translate(0%);
        }
        &-line:hover > &-btn-container .fa-circle-check
        {
            animation: complete-turn 1s;
        }
}
.delay-1
{
    animation-delay: 0.25s;
}
.delay-2
{
    animation-delay: 0.5s;
}
@keyframes delayed-render
{
    0%
    {
        opacity: 0;
    }
    70%
    {
        transform: translateY(50px);
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}