.primary-btn
{
    font-size: 18px;
    color: #fff;
    box-shadow: 0 0 32px rgba(0,0,0,0.4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-image: linear-gradient(170deg, $secondary-colour 0%, $primary-colour 70%, $primary-colour 100%);
}
.primary-btn:hover
{
    background-image: linear-gradient(170deg, lighten($secondary-colour,5%) 0%, lighten($primary-colour,5%) 70%, lighten($primary-colour,5%) 100%);
}
.like-btn
{
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f6f6f6;
        & .fa-heart-filled
        {
            transform: scale(0);
            color: $secondary-colour;
            transition: transform 2s;
        }
}
.like-btn-appearance
{
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
        &:checked + .like-btn > .fa-heart-filled
        {
            transform: scale(1);
            transition: 2s;
        }
}