footer
{
    background-color: #353535;
}
.fa-utensils, .fa-handshake-angle
{
    font-size: 10px;
    width: 1px;
    height: 1px;
    margin-right: 20px;
    @include desktop-only
    {
        font-size: 16px;
    }
}
.footer-content
{
    width: 90%;
    margin: auto;
    color: #ffffff;
    padding: 20px 0 20px 0;
    @include desktop-only
    {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        &__heading
        {
            font-family: 'Shrikhand';
            font-weight: lighter;
            font-size: 14px;
            margin: 0 0 10px 0;
            @include desktop-only
            {
                font-size: 24px;
            }
        }
        &__list 
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
            & li
            {
                margin: 0 0 2px 0;
            }
            & a
            {
                font-size: 14px;
                color: #ffffff;
                text-decoration: none;
                margin: 0;
                @include desktop-only
                {
                    font-size: 16px;
                }
            }
}

