.index-header
{
    text-align: center;
        & img
        {
            width: 40%;
            margin: 20px 0;
        }
}
.menus-header
{
    display: flex;
    align-items: center;
    & a
    {
        font-size: 20px;
        position: absolute;
        left: 30px;
    }
    & img
    {
        width: 40%;
        margin: 20px auto;
    }
}

